<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" href="options.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
  <style>
    html, body {
      margin: 0;
      padding: 0;
    }
    body {
      margin: 0;
      padding: 0;
      background: #fff;
      font-family: 'Roboto', sans-serif;
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="app"></div>
  <script src="options.js"></script>
</body>
</html>
